* {
    box-sizing: border-box;
    font-family: Garamond, Georgia, serif;
    margin: 0px;
}

#Container {
    background: #ffffff;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.imagen {
    width: 200px;
    height: 200px;
}

p, h2 {
    text-align: center;
    margin: 4px ;
}

#Cajas {
    display: flex;
    flex-wrap: wrap; 
    margin: 1px auto;
    padding: 20px;
    gap: 20px; 
}

.CajaGrande1,
.CajaMitad1,.CajaMitad2 {
    border: 2px solid #f2d5a2;
    padding: 20px;
    border-radius: 20px;
    background: #fdf2df;
    
}

.CajaGrande1 {
    display: flex;
    flex-wrap: wrap; 
    align-items: center;
    gap: 20px;
    order: 3;
}

.CajaGrande1 h2 {
    width: 100%;   
    order: 1;
}
.CajaGrande1 p {
    flex: 1;
    order: 3;
}

.CajaGrande1 fieldset {
    order: 2;
}

.CajaMitad1, .CajaMitad2 {
    width: calc(50% - 10px);
}

    @media (max-width: 600px) {
        #Cajas{
            flex-direction: column; 
        }

        .CajaMitad1, .CajaMitad2,
        .CajaGrande1{
            width: 100%; 
        }
        .imagen {
            width: 100%;
            height: auto;
        }
    }

    @media (min-width: 979px) {
        #Cajas{
            flex-direction: row;   
            flex-wrap: nowrap;  
            
        }

        .CajaMitad1, .CajaMitad2,
        .CajaGrande1{
            width: 33.33%;        
        }
         .imagen {
            width: 100%;
            height: auto;
        }
        .CajaGrande1 h2 {
            width: 100%;
            order: 3;   
        }
    }


#titulo {  
    border-top: #000000 solid 1px;
    border-bottom: #000000 solid 1px;
}
